# Site settings
title: An American Redemption
email: npacchioli@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  A depository of my American Epic.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://nvp.world" # Replace with your actual domain

# Author information
author:
  name: Nick
  email: npacchioli@gmail.com

# Build settings
markdown: kramdown
highlighter: rouge
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Collections for organizing poetry
collections:
  chapters:
    output: true
    permalink: /:collection/:name/
    sort_by: order

# Default layouts
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "poems"
    values:
      layout: "poem"